In [108]:
from jupyter_plotly_dash import JupyterDash

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import sqlite3
import pandas as pd
app = JupyterDash('SimpleExample')

con = sqlite3.connect("tweets.sqlite")
df = pd.read_sql_query("SELECT * from tweet", con)
len_df = len(df)
unique_list = df.nunique()

df = df[df.index.isin(df.text.drop_duplicates(keep='last').index)].sort_values('retweet_likes', ascending=False)[:20]
   

app.layout = html.Div([
    html.Div([
        dcc.Dropdown(
            id='dropdown-value',
            options=[{'label': c, 'value': c} for c in list(range(20))],
            value=0)
    ], style={'width':'70%', 'display':'inline-block'}),
    
    html.Div([
        html.Div(id='tweet_render', style={'width':'500px'})
    ], className='row')
])


@app.callback(
    dash.dependencies.Output('tweet_render', 'children'),
    [dash.dependencies.Input('dropdown-value', 'value')])
def callback_size(dropdown_value):

#     print(df['id_user'][dropdown_value])
    
    user = df['id_user'].to_list()[dropdown_value]
    tweet = df['tweet_id'].to_list()[dropdown_value]
    tweets_list = []
#     print(f"https://twitframe.com/show?url=https://twitter.com/{df['id_user'].to_list()[0]}/status/{df['tweet_id'].to_list()[0]}")
    for i in list(range(20)):
        user = df['id_user'].to_list()[i]
        tweet = df['tweet_id'].to_list()[i]
        
        tweets_list.append(html.Div([html.Iframe(src=f"https://twitframe.com/show?url=https://twitter.com/{user}/status/{tweet}", 
                                                 id='tweets', 
                                     style={'width':'500px', 'height':'100%', 'overflow':'hidden',
                                            'position':'relative',
                                            #'height':'100%',
                                           'border':'0',
                                           'frameborder':'0',
                                           #'theme':'dark'
                                           })]
                                   ))
    
    return tweets_list

# 
          
# [html.Iframe(src=f"https://twitframe.com/show?url=https://twitter.com/{user}/status/{tweet}")]

                        
app

In [20]:
df['id_user'].to_list()[0]

'1242235697064480770'

https://twitframe.com/show?url=https://twitter.com/Santos_NOW/status/1242235697064480770

In [30]:
for i in list(range(20)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [9]:
from jupyter_plotly_dash import JupyterDash

from datetime import datetime as dt
import dash
import dash_html_components as html
import dash_core_components as dcc

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = JupyterDash('SimpleExample')

app.layout = html.Div([
    dcc.DatePickerRange(
        id='my-date-picker-range',
        min_date_allowed=dt(1995, 8, 5),
        max_date_allowed=dt(2017, 9, 19),
        initial_visible_month=dt(2017, 8, 5),
        end_date=dt(2017, 8, 25).date(),
        display_format='D-M-Y'
    ),
    html.Div(id='output-container-date-picker-range')
])


@app.callback(
    dash.dependencies.Output('output-container-date-picker-range', 'children'),
    [dash.dependencies.Input('my-date-picker-range', 'start_date'),
     dash.dependencies.Input('my-date-picker-range', 'end_date')])
def update_output(start_date, end_date):
    string_prefix = 'You have selected: '
    if start_date is not None:
        start_date = dt.strptime(start_date.split('T')[0], '%Y-%m-%d')
        start_date_string = start_date.strftime('%D-%M-%Y')
        string_prefix = string_prefix + 'Start Date: ' + start_date_string + ' | '
    if end_date is not None:
        end_date = dt.strptime(end_date.split('T')[0], '%Y-%m-%d')
        end_date_string = end_date.strftime('%D-%M-%YY')
        string_prefix = string_prefix + 'End Date: ' + end_date_string
    if len(string_prefix) == len('You have selected: '):
        return 'Select a date to see it displayed here'
    else:
        return string_prefix


app

In [2]:
import pandas as pd
import numpy as np

In [87]:
df = pd.DataFrame({'project_name':['proj1', 'proj2', 'proj3', 'proj4'],
                   'StartDate': ['01/05/2015', '15/08/2016', '23/05/2016', '12/10/2017'], 
                   'FinalDate': ['7/12/2016', '23/5/2017', '12/2/2017', '23/4/2018'],
                   'Region': ['regions0', 'regions7', 'regions2', 'regions12']})

df.to_csv('Upwork1-Noah-APP/data_simulation.csv')

In [88]:
pd.to_datetime(df['StartDate'])

0   2015-01-05
1   2016-08-15
2   2016-05-23
3   2017-12-10
Name: StartDate, dtype: datetime64[ns]

In [3]:
if None in [1, 5, None]:
    print('bla')
else:
    print('not none')

bla

In [89]:
df['StartDate'].strftime('%Y-%m-%d')

AttributeError: 'Series' object has no attribute 'strftime'

In [42]:
df['project_name'].values

array(['proj1', 'proj2', 'proj3', 'proj4'], dtype=object)

In [43]:
regions = ['regions0', 'regions1', 'regions2', 'regions3', 'regions4',
           'regions5', 'regions6', 'regions7', 'regions8', 'regions9',
           'regions10', 'regions11', 'regions12', 'regions13', 'regions14',
           'regions15', 'regions16', 'regions17', 'regions18', 'regions19']

In [44]:
df

  project_name   StartDate  FinalDate     Region
0        proj1  01/05/2015  7/12/2016   regions0
1        proj2  15/08/2016  23/5/2017   regions7
2        proj3  23/05/2016  12/2/2017   regions2
3        proj4  12/10/2017  23/4/2018  regions12

In [45]:
regions = ['regions0', 'regions1', 'regions2', 'regions3', 'regions4',
           'regions5', 'regions6', 'regions7', 'regions8', 'regions9',
           'regions10', 'regions11', 'regions12', 'regions13', 'regions14',
           'regions15', 'regions16', 'regions17', 'regions18', 'regions19']

In [46]:
regions = []
for i in range(20):
    regions.append(f"regions{i}")

In [47]:
np.array(regions
)

array(['regions0', 'regions1', 'regions2', 'regions3', 'regions4',
       'regions5', 'regions6', 'regions7', 'regions8', 'regions9',
       'regions10', 'regions11', 'regions12', 'regions13', 'regions14',
       'regions15', 'regions16', 'regions17', 'regions18', 'regions19'],
      dtype='<U9')

In [48]:
import datetime

In [49]:
from datetime import datetime

datetime.today().strftime('%Y-%m-%d')

'2020-03-22'

In [50]:
df

  project_name   StartDate  FinalDate     Region
0        proj1  01/05/2015  7/12/2016   regions0
1        proj2  15/08/2016  23/5/2017   regions7
2        proj3  23/05/2016  12/2/2017   regions2
3        proj4  12/10/2017  23/4/2018  regions12

In [91]:
df['StartDate'] = pd.to_datetime(df['StartDate'])
df['FinalDate'] = pd.to_datetime(df['FinalDate'])
df['diff'] = (date_final - date_start)

In [71]:
days_diff

0   554 days
1   281 days
2   558 days
3   134 days
dtype: timedelta64[ns]

In [72]:
len(pd.date_range(start=date_start[1],
                  end=date_final[1], freq='M'))

9

In [73]:
date_final.dt.month - date_start.dt.month

0    6
1   -3
2    7
3   -8
dtype: int64

In [74]:
date_final.dt.month

0     7
1     5
2    12
3     4
Name: FinalDate, dtype: int64

In [75]:
df['diff'] = ((date_final - date_start) / np.timedelta64(1, 'M'))
df['diff'] = df['diff'].astype(int)

In [76]:
df

  project_name  StartDate  FinalDate     Region  diff
0        proj1 2015-01-05 2016-07-12   regions0    18
1        proj2 2016-08-15 2017-05-23   regions7     9
2        proj3 2016-05-23 2017-12-02   regions2    18
3        proj4 2017-12-10 2018-04-23  regions12     4

In [77]:
df[df['project_name'] == 'proj1']['StartDate'].astype(str)

0    2015-01-05
Name: StartDate, dtype: object

In [92]:
df['StartDate'][0].strftime('%Y-%m-%d')

'2015-01-05'

In [95]:
mask = df["project_name"] == 'proj1'


df['StartDate'] = pd.to_datetime(df['StartDate'])
df['FinalDate'] = pd.to_datetime(df['FinalDate'])

df['diff'] = ((df['FinalDate'] - df['StartDate']) / np.timedelta64(1, 'M'))
df['diff'] = df['diff'].astype(int)

In [99]:
df[mask]['project_name'].values, df[mask]['StartDate'][0].strftime('%Y-%m-%d'), df[mask]['diff'], df[mask]['FinalDate'][0].strftime('%Y-%m-%d')

(array(['proj1'], dtype=object), '2015-01-05', 0    18
 Name: diff, dtype: int64, '2016-07-12')

In [111]:
final = df[mask].to_dict('row')[0]

In [112]:
final['project_name']

'proj1'

In [121]:
final['StartDate'].strftime('%Y-%m-%d')

'2015-01-05'

In [ ]:
final['StartDate'].date.year